body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.hero {
    background-image: url('images/background.png'); /* Update with the path to the generated image */
    background-size: cover;
    background-position: center;
    text-align: left; /* Align text to the left */
    padding: 50px; /* Add some padding */
    display: flex;
    align-items: center; /* Aligns vertically */
    height: 100vh; /* Full height of the viewport */
}

.content {
    display: flex;
    align-items: center; /* Aligns items vertically */
}

.profile-circle {
    width: 150px;
    height: 150px;
    background-image: url('images/1664743376786.jpeg'); /* Update with the path to your profile picture */
    background-size: cover;
    border-radius: 50%;
    margin-right: 30px; /* Space between the image and the text */
}

.welcome-text {
    max-width: 600px; /* Keeps lines of text at a readable length */
}

h1 {
    font-size: 2em; /* Adjust font size as needed */
    margin-bottom: 0.5em;
}

p {
    font-size: 1em;
}



